/* 公共样式 */
.layui-block {
    width: 100%;
}

/* 登录页面 */
.loginHtml, .loginBody { 
    height: 100%; 
}

.loginBody { 
    background: url("../../img/login_bg.jpg") no-repeat center center; 
}

.loginBody form.layui-form { 
    padding: 0 20px; 
    width: 300px; 
    height: 335px; 
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -150px 0 0 -150px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0 50px #009688;
}

.login_face {
    margin: -55px auto 20px;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid #ffffff;
    overflow: hidden;
    box-shadow: 0 0 30px #009688;
}

.login_face img {
    width: 100%;
}

.loginBody .layui-form-item {
    position: relative;
}

.loginBody .layui-form-item label {
    position: absolute;
    color: #757575;
    left: 10px;
    top: 9px;
    line-height: 20px;
    background: #ffffff;
    padding: 0 5px;
    font-size: 14px;
    cursor: text;
}

.loginBody .layui-form-item.layui-input-focus label {
    top: -10px;
    font-size: 12px;
    color: #ff6700;
}

.loginBody .layui-form-item.layui-input-active label {
    top: -10px;
    font-size: 12px;
}

.loginBody .layui-input::-webkit-input-placeholder {
    color: #ffffff;
}

.loginBody .layui-input::-moz-placeholder {
    color: #ffffff;
}

.loginBody .layui-input:-ms-input-placeholder {
    color: #ffffff;
}

.loginBody .layui-input::placeholder {
    color: #ffffff;
}

.loginBody .layui-form-item.layui-input-focus input {
    border-color: #ff6700 !important;
}

.loginBody .seraph {
    font-size: 30px;
    text-align: center;
}

.loginBody .seraph.icon-qq:hover {
    color: #0288d1;
}

.loginBody .seraph.icon-wechat:hover {
    color: #00d20d;
}

.loginBody .seraph.icon-sina:hover {
    color: #d32f2f;
}

.imgcode {
    position: relative;
}

#imgcode img {
    position: absolute;
    top: 1px;
    right: 1px;
    cursor: pointer;
}

.loginBody .layui-input-focus .layui-input::-webkit-input-placeholder {
    color: #757575;
}

.loginBody .layui-input-focus .layui-input::-moz-placeholder {
    color: #757575;
}

.loginBody .layui-input-focus .layui-input:-ms-input-placeholder {
    color: #757575;
}

.loginBody .layui-input-focus .layui-input::placeholder {
    color: #757575;
}

/* 友情链接 */
